	<div class="footer">
		<div class="container">
			<div class="row">
				<div id="footer-copyright" class="span6">
					&copy; 2013 <a href="http://obullxl.github.io">obullxl@gmail.com</a>
				</div>
				<div id="footer-terms" class="span6">
					<a href="http://anode.aliapp.com">云博客</a>
					<a href="http://obullxl.cnblogs.com">博客园</a>
					<script type="text/javascript" src="http://js.tongji.linezing.com/3298179/tongji.js"></script><noscript><a href="http://www.linezing.com"><img src="http://img.tongji.linezing.com/3298179/tongji.gif"/></a></noscript>
				</div>
			</div>
		</div>
	</div>
	<!-- /footer -->
</body>
</html>