<div class="span3">
	<div class="span3 well side-nav-fixed">
		<ul class="nav nav-list">
			<li class="nav-header"><span class="icon-home"></span> 系统管理</li>
			<li><a href="/">系统首页</a></li>
			<li><a href="/">系统管理</a></li>
			<li class="nav-header"><span class="icon-user"></span> 用户管理</li>
			<li><a href="/web/user/create">新增用户</a></li>
			<li><a href="/web/user/manage">用户管理</a></li>
			
			<li class="nav-header"><span class="icon-th-list"></span> 主题管理</li>
			<%	if(url !== "/topic/create") { %>
				<li><a href="/topic/create">新增主题</a></li>
			<% } else { %>
				<li class="active"><a href="javascript:void();">新增主题</a></li>
			<% } %>
			<%	if(url !== "/topic/manage") { %>
				<li><a href="/topic/manage">主题管理</a></li>
			<% } else { %>
				<li class="active"><a href="javascript:void();">主题管理</a></li>
			<% } %>
		</ul>
	</div>
	<!--/.well -->
</div>