<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title><%= title||'' %> - 做最好的Java,Node.js,Bootstrap,DWZ,Git,GitHub,阿里云 技术交流开发博客</title>
<meta name="description" content="Java编程,Node.js Bootstrap Node Spring SpringMVC Struts1 Struts2 Webwork框架深入,Freemarker Velocity模板使用,XMLHTTP Ajax开发,Java Web开发,Java企业应用,Java设计模式,Java开源框架,Java应用服务器,Rich Client讨论,Ruby编程,Ruby DSL开发,Ruby on rails实践,JavaScript编程,敏捷软件开发XP TDD,软件配置管理,软件测试,项目管理UML,数据库,C#/.net C/C++ Erlang/FP PHP/Linux平台,精通Hibernate" />
<meta name="keywords"  content="Java编程 Node.js框架 Spring框架 Ajax技术 agile敏捷软件开发 ruby on rails实践 ITeye深度技术社区" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic" />
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Arizonia" />
<link rel="stylesheet" type="text/css" href="http://anode.aliapp.com/css/bootstrap.css" media="screen" />
<link rel="stylesheet" type="text/css" href="http://anode.aliapp.com/css/bootstrap-responsive.css" />
<link rel="stylesheet" type="text/css" href="http://anode.aliapp.com/css/atom-front.css" />
<script type="text/javascript" charset="utf-8" src="http://anode.aliapp.com/js/jquery-2.0.3.js"></script>
<script type="text/javascript" charset="utf-8" src="http://anode.aliapp.com/js/bootstrap.js"></script>
<!--[if lt IE 9]>
	<script type="text/javascript" charset="utf-8" src="http://anode.aliapp.com/js/html5shiv.js"></script>
<![endif]-->
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">Menu</a>
				<div class="nav-collapse">
					<ul class="nav">
						<% if (catg === 'index') { %>
							<li class="active"><a href="./index.html">首页</a></li>
						<% } else { %>
							<li><a href="./index.html">首页</a></li>
						<% } %>
						
						<% if (catg === 'blog') { %>
							<li class="active"><a href="./index-blog.html">博客</a></li>
						<% } else { %>
							<li><a href="./index-blog.html">博客</a></li>
						<% } %>
						
						<% if (catg === 'news') { %>
							<li class="active"><a href="./index-news.html">新闻</a></li>
						<% } else { %>
							<li><a href="./index-news.html">新闻</a></li>
						<% } %>
						
						<% if (catg === 'album') { %>
							<li class="active"><a href="./index-album.html">图片</a></li>
						<% } else { %>
							<li><a href="./index-album.html">图片</a></li>
						<% } %>
					</ul>
					<ul class="nav pull-right">
						<% if (catg === 'about') { %>
							<li class="active"><a href="./index-about.html">关于</a></li>
						<% } else { %>
							<li><a href="./index-about.html">关于</a></li>
						<% } %>
					</ul>
				</div>
				<!--/.nav-collapse -->
			</div>
		</div>
	</div>
	<!-- /.navbar -->
